
= render 'template/cities'
= render 'template/features'
= render 'template/galleries'
= render 'template/newsitems'
= render 'template/reports'
= render 'template/users'
= render 'template/venues'
= render 'template/videos'
