
%script#left_menu-template{:type => "text/template"}
  %ul    
    -# %li= link_to t('g.calendar'), "javascript:void(0);", :class => :calendar_link
    -# %li= link_to t('photos.new'), new_photo_path, :class => :new_photo_link
    -# %li= link_to t('reports.new'), new_report_path, :class => :new_report_lin
    %li.map-link= link_to t('g.map'), "javascript:void(0);"
    %li.cities-link= link_to t('cities.list'), "javascript:void(0);"

%script#right_menu-template{:type => "text/template"}
  %ul
    %li= link_to t('reports.list'), "javascript:void(0);", :class => :reports_link
    %li.galleries-link= link_to t('galleries.list'), "javascript:void(0);"
    %li= link_to t('venues.list'), "javascript:void(0);", :class => :venues_link
    %li= link_to t('users.list'), "javascript:void(0);", :class => :users_link
    -# %li.videos-link= link_to t('videos.list'), "javascript:void(0);", :class => :videos_link

%script#cities_right_menu-template{:type => "text/template"}
  %ul
    -# %li.newsitems-link= link_to 'Home', "javascript:alert('Not Implemented.');"
    %li.home-link= link_to 'Home', "javascript:alert('Not Implemented.');"

%script#city_calendar-template{:type => "text/template"}
  .calendar
    <%= calendar_frame %>

%script#cities_home-template{:type => "text/template"}
  %h3 Welcome home!

%script#city_map-template{:type => "text/template"}
  .map-container#cities_show_canvas
    
%script#cities_map-template{:type => "text/template"}
  .map-container#cities_index_canvas

-# %script#cities_index-template{ :type => 'text/template' }
-#   .cities-index
-#     %h1 Cities Index
-#     .items
-#     .home-ad

%script#cities_index_item-template{ :type => 'text/template' }
  .cities-index-item
    <a href="javascript:void(0)" cityname="<%= cityname %>" class="city-link" ><%= name %></a>

%script#city_show-template{ :type => 'text/template' }
  .city-show
    .meta
      [<a href="<%= permalink %>" >Permalink</a>]

    %h3
      <a href="<%= permalink %>" ><%= name %></a>
      
    -# .guide Guide
    -# .today Today
    .c
      
    <% if ( events.length > 0 ) { %>
    .events-list
      %h4 Events
      %ul
        <% _.each( events, function(event) { %>
        %li <%= event.date.substring(0, 10) %> <a href="javascript:void(0)" name_seo="<%= event.name_seo %>" class="event-link"><%= event.name %></a>
        <% }) %>
    <% } %>
    
    <% if ( j_galleries.length > 0 ) { %>
    .galleries-list
      %h4 Galleries
      %ul
        <% _.each( j_galleries, function(gallery) { %>
        %li
          <a href="javascript:void(0)" galleryname="<%= gallery.galleryname %>" class="gallery-link thumb">
          <img src="<%= gallery.photo_url %>" alt="<%= gallery.name %>" /></a>
          <a href="javascript:void(0)" galleryname="<%= gallery.galleryname %>" class="gallery-link text">
          <%= gallery.name %></a>
        <% }) %>
      .c
    <% } %>
    
    <% if ( reports.length > 0 ) { %>
    .reports-list
      %h4 Reports
      %ul
        <% _.each( reports, function(item) { %>
        %li <a href="javascript:void(0)" name_seo="<%= item.name_seo %>" class="report-link"><%= item.name %></a>
        <% }) %>
    <% } %>

    <% if ( videos.length > 0 ) { %>
    .videos-list
      %h4= t('videos.list')
      %ul
        <% _.each( videos, function(item) { %>
        %li
          <img src="http://img.youtube.com/vi/<%= item.youtube_id %>/1.jpg" alt="" />
          <%= item.youtube_id %> --
          <%= item.name %>
        <% }) %>
    <% } %>
 
    <% if ( j_users.length > 0 ) { %>
    .users-list
      %h4= t('users.list')
      %ul
        <% _.each( j_users, function(item) { %>
        %li
          <img src="<%= item.profile_photo_path %>" alt="" />
          <%= item.username %>
        <% }) %>
    <% } %>
      
    <% if ( venues.length > 0 ) { %>
    .venues-list
      %h4= t('venues.list')
      %ul
        <% _.each( venues, function(item) { %>
        %li <%= item.name %>
        <% }) %>
    <% } %>









