
= render 'devise/messages'

.row
  .large-6.small-6.columns
    .sign-up
      %h5.text-center= t('users.sign_up')
      = render 'devise/registrations/new'
        
  .large-6.small-6.columns
    .sign-in
      %h5.text-center= t('users.sign_in')

      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .row
          .large-2.small-2.columns= f.label :email
          .large-10.small-10.columns= f.email_field :email
        .row
          .large-2.small-2.columns= f.label :password
          .large-10.small-10.columns= f.password_field :password

        - if devise_mapping.rememberable?
          .row
            = f.check_box :remember_me
            = f.label :remember_me

        .row
          .large-10.large-push-2.small-10.small-push-2.columns= f.submit t('users.sign_in')
