!!!
%html
  %head
    %title
      = @title
    = stylesheet_link_tag "cities"
    -# %link{:href => "http://fonts.googleapis.com/css?family=Asul", :rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag "application"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "/assets/favicon.gif", :rel => "shortcut icon"}
    = render 'analytics/travel-guide.mobi'
  %body{ :id => @action_name, :class => @action_classes }
    - unless @city.blank?
      .ids{ :cityname => @city.cityname }
      .ns{ :n_reports => @n_reports, :n_galleries => @n_galleries, :n_venues => @n_venues, :n_users => @n_users, :n_videos => @n_videos }
    - if @report_name_seo
      .report-name-seo{ :report_name_seo => @report_name_seo }
    - if @galleryname
      .galleryname{ :galleryname => @galleryname }
    .Lcities
      #header
        .logo= link_to image_tag('logos/45x45/ish.png'), cities_path
        %ul.main-menu
          - if @city.blank?
          - else
            %li= link_to @city['name_'+@locale.to_s], @city
          %li= link_to t('list.cities'), cities_path
          %li= link_to 'Settings', settings_path
          
      #left
        .left-menu
          %ul
            %li= link_to 'Map', 'javascript:void(0)'
            
        .left-container
          - if notice
            %p.notice= notice
          - if alert
            %p.alert= alert
          .inner
            .all-cities
              .all-cities-2
                #cities_index_canvas
      #right
        .right-menu
          %ul
            %li= link_to 'News', '#'
            %li= link_to 'Cities', '#'
            
        .right-container
          .inner
            %ul.hide
              %li news 1
              %li news 2
              %li news 3
            
      .main-footer
        = render 'login_register'
        = render 'set_locale'
        = render 'set_layout'
        .clear
    = render 'template/all'
    .hide
      = render 'ads/large_rectangle'
    = render 'init_maps'


